.toggle-chat-btn {
    position: fixed;
    right: 10px;
    bottom: 70px;
}

.chatbot-assisstant {
    display: none; /*don't show initially chat assisstant */
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 400px;
    max-height: 600px;
    z-index: 1050; /* Above other content */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden; /* Prevent overflow */
}

.chat-container {
    /*    max-width: 600px;*/
    margin: 0 auto;
    /*background-color: #f9f9f9;*/
    background: #f6f6f6;
    max-height: 500px;
    scrollbar-width: none;
}

.chat-header {
    background-color: rgb(255, 255, 255);
    color: rgb(1, 153, 213);
}

.minimize-btn {
    border: none;
    padding: 5px 10px;
}

    .minimize-btn:hover {
        border: none; /* Remove border on hover */
    }

    .minimize-btn i {
        font-size: 1.2rem; /* Adjust icon size */
    }


.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.user-message {
    background-color: #28a745;
    color: #fff;
}

.bot-message {
    background-color: #e0e0e0;
    color: #333;
}

.maxwidth-75 {
    max-width: 75%;
}

.first-column-padding {
    padding-right: 1rem; /* Adjust as needed */
}
